<div *ngIf="_user.user" class="header d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    <img class="header-logo" src="../../../assets/img/logoSena.png" alt="">
    <h1 class="header-title mb-0 {{_database.screenSize ==='mobile'?'ml-1':'ml-3'}}">RIBA</h1>
  </div>
  <div role="button" class="d-flex align-items-center position-relative user-select-none">
    <div (click)="dropdown=!dropdown" class="d-flex align-items-center position-relative">
      <span>Hola, {{_user.user['firstname']}}</span>
      <i class="far fa-user-circle icon-user ml-3"></i>
      <i class="fas fa-chevron-down icon-chevron ml-1"></i>
    </div>
    <div *ngIf="dropdown" class="position-absolute shadow bg-white menu-dropdown border user-selct-none">
      <div (click)="sessionOff()" class="text-small p-2"><i class="fas fa-power-off mr-2"></i>Cerrar Sesión</div>
    </div>
  </div>
</div>
